/* 
h1 {
    display: inline;
    font-size: 12px;
} */

/* .day-temp {
    font-size: 10px;
} */

/* Search Section */

#search-input::placeholder {
    padding-left: 5px;
}

ul#searched-cities {
    list-style-type: none;
    padding-left: 0;
    margin: 15px 0;
}

ul#searched-cities::before {
    /* content: 'Recent searches'; */
    font-style: italic;
}

#searched-cities li {
    margin: 5px 0;
    padding: 5px 15px;
    background-color:rgb(220, 220, 255);
    width: 100%;
    border-radius: 2px;
}

#searched-cities li:hover {
    background-color:crimson;
    color: white;
}

/* Current Temp Section */
img.results-icon {
    width: 150px;
    height: 100%;
    float: left;
    padding-right: 50px;
}

.results-temp {
    margin: 15px 0 0 0;
}
.results-wind {
    margin: 5px 0;
}
.results-humidity {
    margin: 5px 0;
}
/* 5 Day Forecast Section */

.forecast {
    margin: 20px 0;
    padding: 20px 0;
    border-top: 1px solid rgb(193, 193, 193);
}

.card {
    margin-top: 20px;
}
.card-body p {
    margin: 5px 0;
}